# objects
*.o
*.a
*.d
*.dll

# executables
utox
utox.exe
*.apk

# store dirs
lib/*
libs/*
build/*
toolchain/*
Tox/
libtoxcore.log
toolchain/
build/*
tox/*
dist/*

# editor files
*.swp
*~
GPATH
GRTAGS
GTAGS

# CMake build files/dirs
CMakeCache.txt
cmake_install.cmake
CMakeFiles
