# objects
**/*.o
**/*.a

# executables
utox
utox.exe
*.apk

# store dirs
lib/*
libs/*
build*/*
toolchain/*
Tox/
libtoxcore.log
toolchain/
build/*
tox/*
dist/*
cache/*

# editor files
*.swp
*~
GPATH
GRTAGS
GTAGS
.dir-locals.el

# CMake
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
install_manifest.txt
