[Desktop Entry]
Version=1.0
Type=Application
Name=uTox
Comment=A lightweight Tox client
TryExec=utox
Exec=utox
Icon=utox
Categories=InstantMessaging;AudioVideo;Network;
Terminal=false
MimeType=x-scheme-handler/tox;
